*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 50px;
    padding-inline: 20px;
}
.navbar{
    font-size: 20px;
}
.login-signup-button{
    width: 60px;
    height: 30px;
}
.login-signup{
    display: flex;
    gap: 5px;
}
.login-signup-button:hover{
    cursor: pointer;    
}
.profile{
    font-size: 13px;
    margin: auto;
}
.moderator-button{
    width: 120px;
}
.filter-button{
    width: 40px;
}
.filter-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(29%, -99%);
    background: #dfdfdf;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 3 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 10000;
    justify-content: center;
    flex-direction: column;
    width: 171px;
    height: 200px;
    font-size: 13px;
}
.filter-apply-btn{
        margin-top: 20px;
        width: 80px;
        height: 20px;
        border: 2px solid green;
        color: white;
        background-color: green;
        border-radius: 3px;
}