.product{
    margin-top: 20px;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    gap: 20px;
    padding-inline: 30px;
    
}

.product-image{
    width: 20vw;
}
.product-property{
    font-size: 20px;
}
.product-heading{
    margin-top: 30px;
    margin-left: 30px;
    color: blue;
}
.qna{
  /* margin-bottom: 50px; */
}
.company-logo{
    width: 40px;
    margin-left: 10px;
    
}
.company-logo-div{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.prices{
    margin-left: 30px;
}

.prices-item{
    margin-top: 20px;
    font-size: 15px;
}
.prices-item strong{
  color: rgb(230, 23, 188);
}
.prices-item p{
  color: rgb(79, 47, 221);
}

.review-question{
    display: flex;
    /* align-items: center;  */
    justify-content: space-around;
    /* max-width: 500vw; */
    /* flex-direction: column; */
    gap: 15px;

}

.review-question-item{
  flex: 1;
 /* background-color: aqua; */
}

.reviews{
    margin-top: 10px;
    margin-left: 30px;
}
.review-item{
    margin-top: 20px;
}
.review-item  strong{
    color: rgb(230, 23, 188);
} 
.review-item  p{
    color: rgb(79, 47, 221);
} 
.stars {
    display: flex;
  }
  
  .star {
    font-size: 2rem;
    color: gray;
    cursor: pointer;
  }
  
  .star.filled {
    color: gold;
  }
  .product-button{
    margin-top: 10px;
    width: 120px;
    height: 25px;
    border-radius: 5px;
    background-color:green;
    color: white;
  }
  .product-button:hover{
    cursor: pointer;
    /* background-color: rgb(17, 168, 17); */
  }

  .show-comments-button{
    background-color: blue;
  }
  .show-comments-button:hover{
    /* background-color: rgb(83, 83, 250); */
  }
  .close-comments-button{
    background-color: rgb(192, 125, 31);
  }
  .close-comments-button:hover{
    /* background-color: rgb(235, 188, 122); */
  }
  .hr{
    opacity: 0.5;;
  }

  .approve-reject-button{
    margin-top: 10px;
  }
  .approve{
    width: 70px;
    height: 25px;
    padding: 2px;
    background-color:green;
    border-radius: 5px;
    color: white;
  }

  .reject{
    margin-left: 3px;
    width: 70px;
    height: 25px;
    padding: 2px;
    background-color:red;
    border-radius: 5px;
    color: white;
  }
  .approve-with-answer{
    margin-left: 3px;
    width: 140px;
  }

  .btn-hover:hover{
    cursor: pointer;
  }
  .edit-product{
    width: 80px;
    height: 20px;
    border: 2px solid blue;
    color: white;
    background-color: blue;
    border-radius: 3px;
    /* margin-left: 100px; */
  }
  .edit-product:hover{
    color: rgb(159, 232, 159);
    cursor: pointer;
  }

  .edit-product-admin-product-page{
    margin-left: 28px;
  }

  .delete-product{
    width: 110px;
    height: 20px;
    border: 2px solid red;
    color: white;
    background-color: red;
    border-radius: 3px;
    margin-left: 10px;
  }
  .delete-product:hover{
    color: rgb(159, 232, 159);
    cursor: pointer;
  }

  .delete-confirm{

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: aqua; */
    width: 500px;
    height: 100px; 
  }
  .confirm-yes{
    
    width: 80px;
    height: 20px;
    border: 2px solid green;
    color: white;
    background-color: green;
    border-radius: 3px;
  }

  .confirm-no{
    width: 100px;
    height: 20px;
    border: 2px solid red;
    color: white;
    background-color: red;
    border-radius: 3px;
    margin-left: 10px;
  }

  .confirm-no:hover{
    cursor: pointer;
  }
  .confirm-yes:hover{
    cursor: pointer;
  }
  .show-c{
    background-color: aqua;
    border: 2px solid aqua;
    color: black;
}
.close-c{
  background-color: orange;
  border: 2px solid orange;
  color: black;
}