.sign-up{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    width: 100vw;
    height: 90vh;
}
.sign-up-item{
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* background-color: rgb(112, 195, 195); */

} 
.sign-up-input-field{
    width: 25vw;
    height: 4vh;
}
.signup-submit-button{
    margin-top: 15px;
    width: 60px;
    height: 30px;
}

.signup-submit-button:hover{
    cursor: pointer;    
}

.change-password-buttom{
    width: 120px;
}