.sign-up{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    width: 97vw;
    /* height: 100vh; */
    margin-top: 20px;
}
.sign-up-item{
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* background-color: rgb(112, 195, 195); */

} 
.sign-up-input-field{
    width: 50vw;
    height: 4vh;
}
.signup-submit-button{
    margin-top: 15px;
    width: 60px;
    height: 30px;
}

.signup-submit-button:hover{
    cursor: pointer;    
}

.change-password-buttom{
    width: 120px;
}
.add-price{
    width: 120px;
    height: 20px;
    /* margin-left: 215px; */
    border: 3px solid green;
    border-radius: 3px;
    background-color: green;
    color: white;
}

.add-product{
    width: 130px;
    margin-left: 250px;
    border: 3px solid blue;
    border-radius: 3px;
    background-color: blue;
    color: white;
    margin-bottom: 40px;
}

.remove-price{
    width: 80px;
    height: 20px;
    margin-left: 565px;
    border: 3px solid rgb(237, 19, 19);
    border-radius: 3px;
    background-color: rgb(231, 32, 6);
    color: white;
}
.add-additional-info-button{
    width: 180px;
	height: 20px;
    margin-left: 0px;
}
.add-additional-info-button:hover{
    cursor: pointer;
}
.additional-info-product{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #d7d7d7;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: aqua; */
    width: 700px;
    height: 150px; 
}
.additional-info-value{
    margin-top: 5px;
}
.additional-info-key{
    margin-top: 4px;
}
.price-rmv{
    /* margin-top: -40px; */
}

.product-heading-add-edit-page{
    color: red;
    font-size: 20px;
    margin:20px 0px;
}
.product-price{
    /* margin-bottom: 10px; */
}
.price-item{
    margin-bottom: 23px;
}
.property-value{
    /* margin-top: 115px; */
    /* color: red; */
    /* background-color: aqua; */
    margin-top: 10px;
}