.sign-up{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    width: 100vw;
    /* height: 100vh; */
    margin-top: 20px;
}
.sign-up-item{
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* background-color: rgb(112, 195, 195); */

} 
.sign-up-input-field{
    width: 25vw;
    height: 4vh;
}
.signup-submit-button{
    margin-top: 15px;
    width: 60px;
    height: 30px;
}

.signup-submit-button:hover{
    cursor: pointer;    
}

.change-password-buttom{
    width: 120px;
}
.add-price{
    width: 120px;
    height: 20px;
    margin-left: 215px;
    border: 3px solid green;
    border-radius: 3px;
    background-color: green;
    color: white;
}

.add-product{
    width: 130px;
    margin-left: 90px;
    border: 3px solid blue;
    border-radius: 3px;
    background-color: blue;
    color: white;
}

.remove-price{
    width: 80px;
    height: 20px;
    margin-left: 243px;
    border: 3px solid rgb(237, 19, 19);
    border-radius: 3px;
    background-color: rgb(231, 32, 6);
    color: white;
}